%form{ :'accept-charset' => 'UTF-8',
       :action           => fixed_url_with_locale('/org/hotels/'),
       :method           => 'POST' }

  = haml :'shared_partials/_jquery_ui_for_forms'

  - if @hotel.errors.any?
    = haml :'shared_partials/_form_errors',
           :locals => { :object => @hotel }

  %dl.fields

    = haml :'pages/org/hotels/_common_fields'

  .actions
    %button.create{ :type => :submit, :name => 'button' }<
      = t 'actions.submit'
    %a.button.cancel{ :href => fixed_url_with_locale('/org/hotels'),
                      :role => 'button' }<
      = t 'actions.cancel'
