%h4
  - hotel_name = capture_haml do
    %q<>
      %strong<>
        &= @hotel.name
  = t 'resources.actions.delete.confirmation_question',
      :resource_name => Hotel.model_name.human,
      :item_name     => hotel_name
%form.inline{ :action => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }hotels/#{ @hotel.id }"), :method => :post }
  %input{ :type => :hidden, :name => :_method, :value => :delete }
  %button.destroy{ :type => :submit, :name => 'button', :value => 'destroy' }<
    = t 'action_confirmation.answers.yes-delete'
%a.button.cancel{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }hotels/#{ @hotel.id }"),
                  :role => 'button'}<
  = t 'action_confirmation.answers.no-cancel'
