%table.index
  %thead
    %tr
      - @attribute_headers.each do |header|
        %th
          = header
      %th{ :colspan => main_organiser_logged_in? ? 2 : 1 }/

  %tbody
    - @hotels.each do |hotel|
      %tr{ :id => "hotel_#{ hotel.id }" }
        - @attribute_procs.each do |p|
          %td
            &= p[hotel]

        %td
          %a.button.show{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }hotels/#{ hotel.id }") }<
            = t 'actions.show'

        - if main_organiser_logged_in?
          %td
            %a.button.edit{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }hotels/#{ hotel.id }/edit") }<
              = t 'actions.update'

- if main_organiser_logged_in?
  %a.button.new{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }hotels/new"),
                 :role => 'button' }<
    = t 'actions.add'
