%section
  %h3
    &= @hotel.name

  = haml :'pages/org/hotels/_hotel_details'

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url_with_locale("/org/hotels/#{ @hotel.id }/edit"),
                    :role => 'button' }<
      = t 'actions.update'
    %a.button.delete{ :href => fixed_url_with_locale("/org/hotels/#{ @hotel.id }/delete"),
                      :role => 'button' }<
      = t 'actions.delete'

  %br/
  %hr/

  = haml :'pages/org/hotels/_accommodations_details'
