-# Locals:
-#   filtering_fields
-#   filter_applied
-#   action_url
-#   hidden_parameters (optional)

-# Initialize hidden_parameters with nil if it does not exist.
- hidden_parameters = hidden_parameters

%form{ :id     => 'filter_form',
       :action => "#{ action_url }#filter" }

%form{ :id     => 'clear_filter_form',
       :action => "#{ action_url }#filter" }

- if hidden_parameters
  -# It seems that browsers do not yet allow to specify multiple
  -# space separated form ids at once.
  - ['filter_form', 'clear_filter_form'].each do |form_id|
    = hidden_fields_from_nested_hash hidden_parameters, :form => form_id

%table#filter.filter{ :class => (filter_applied ? 'filtered' : nil) }
  %thead
    %tr
      - filtering_fields.each do |field|
        %th{ :class => (field.key?(:shown_selected_values) ? 'filtered' : nil) }<
          = field[:header]

    - if filter_applied
      %tr
        - filtering_fields.each do |field|
          - if field.key?(:shown_selected_values)
            %td.filtering_value{ :class => field[:html_class] }<
              &= field[:shown_selected_values]
          - else
            %td/

    %tr
      - filtering_fields.each do |field|
        %td.field{ :class => field[:html_class] }<
          = field[:html_input_field]

    %tr
      %td.actions{ :colspan => filtering_fields.size }<
        %button._get_{ :type  => :submit,
                       :form  => 'filter_form' }<
          = t 'actions.filter'

        %button._get_{ :type  => :submit,
                       :form  => 'clear_filter_form' }<
          = t 'actions.clear'
