-# Locals:
-#   filter_form_id
-#   param_key
-#   collection
-#   name_proc
-#   selected_ids
-#   id_prefix

%ol.short
  - collection.each do |object|
    %li
      %input{ :id      => "#{ id_prefix }_#{ object.id }",
              :type    => :checkbox,
              :name    => "#{ param_key }[]",
              :value   => object.id,
              :checked => selected_ids && selected_ids.include?(object.id),
              :form    => filter_form_id }
      %label{ :for => "#{ id_prefix }_#{ object.id }" }<
        &= name_proc[object]
