-# Locals:
-#   filter_form_id
-#   column_type
-#   selected_values
-#   param_key
-#   id_prefix

- case column_type
- when :string
  %input{ :type         => :search,
          :name         => param_key,
          :value        => selected_values,
          :form         => filter_form_id,
          :autocomplete => :off }
- when :boolean
  %input{ :id      => "#{ id_prefix }_yes",
          :type    => :radio,
          :name    => param_key,
          :value   => 'yes',
          :checked => selected_values,
          :form    => filter_form_id }
  %label{ :for => "#{ id_prefix }_yes" }<
    = t 'yes'
  %br>
  %input{ :id      => "#{ id_prefix }_no",
          :type    => :radio,
          :name    => param_key,
          :value   => 'no',
          :checked => selected_values == false,
          :form    => filter_form_id }
  %label{ :for => "#{ id_prefix }_no" }<
    = t 'no'
  %br>
  %input{ :id      => "#{ id_prefix }_all",
          :type    => :radio,
          :name    => param_key,
          :value   => '',
          :checked => selected_values.nil?,
          :form    => filter_form_id }
  %label{ :for => "#{ id_prefix }_all" }<
    = t 'all'

- when :integer
  - value_or_values ||= {}
  %label{ :for => "#{ id_prefix }_min" }
    = t 'formats.attribute_name:', :attribute => 'min'
  %input{ :id           => "#{ id_prefix }_min",
          :type         => :number,
          :name         => "#{ param_key }[min]",
          :value        => selected_values[:min],
          :form         => filter_form_id,
          :autocomplete => :off,
          :size         => 6 }
  %br>
  %label{ :for => "#{ id_prefix }_max" }<
    = t 'formats.attribute_name:', :attribute => 'max'
  %input{ :id           => "#{ id_prefix }_max",
          :type         => :number,
          :name         => "#{ param_key }[max]",
          :value        => selected_values[:max],
          :form         => filter_form_id,
          :autocomplete => :off,
          :size         => 6 }
- when :date
  - value_or_values ||= {}
  %label{ :for => "#{ id_prefix }_from" }<
    = t 'formats.attribute_name:', :attribute => t('date.from')
  %input{ :id           => "#{ id_prefix }_from",
          :type         => :date,
          :name         => "#{ param_key }[from]",
          :value        => selected_values[:from],
          :form         => filter_form_id,
          :autocomplete => :off }
  %br>
  %label{ :for => "filter_#{ id_prefix }_until" }<
    = t 'formats.attribute_name:', :attribute => t('date.until')
  %input{ :id           => "#{ id_prefix }_until",
          :type         => :date,
          :name         => "#{ param_key }[until]",
          :value        => selected_values[:until],
          :form         => filter_form_id,
          :autocomplete => :off }
