-# Locals:
-#   filtering_fields
-#   filter_applied

%form#filter_form{ :action => '#filter' }

%form#clear_filter_form{ :action => '#filter' }

%table#filter.filter{ :class => (filter_applied ? 'filtered' : nil) }
  %thead
    %tr
      - filtering_fields.each do |field|
        %th<
          = field[:header]

    %tr
      - filtering_fields.each do |field|
        %td.field{ :class => field[:html_class] }<
          = field[:html_input_field]

    - if filter_applied
      %tr
        - filtering_fields.each do |field|
          - if field.key?(:shown_selected_values)
            %td.filtering_value{ :class => field[:html_class] }<
              = field[:shown_selected_values]
          - else
            %td

    %tr
      %td.actions{ :colspan => filtering_fields.size }<
        %button{ :type  => :submit,
                 :form  => 'filter_form' }
          = t 'buttons.filter'

        %button{ :type  => :submit,
                 :form  => 'clear_filter_form' }
          = t 'buttons.clear'
