-# Locals:
-#   params_key_from_hash_key # this is a lambda or a hash
-#   per_page
-#   active_page
-#   page_ranges_before
-#   page_ranges_after
-#   action_url
-#   hidden_parameters (optional)

-# Initialize hidden_parameters with nil if it does not exist.
- hidden_parameters = hidden_parameters

%form#pagination_form{ :action => "#{ action_url }#pagination_form" }
  - if hidden_parameters
    = hidden_fields_from_nested_hash hidden_parameters

    %nav.pagination
      %label
        = t 'formats.attribute_name:', :attribute => t('labels.pages')

      - [page_ranges_before, page_ranges_after].each do |page_ranges|
        - page_ranges.each do |range|
          - range.each do |page|
            %button._get_.page{ :type  => :submit,
                                :name  => params_key_from_hash_key[:page],
                                :value => page }<>
              = page
          - unless range == page_ranges.last
            %span.ellipsis<>
              ⋯
        - unless page_ranges == page_ranges_after
          %span.page.active<>
            %strong= active_page

  .actions
    .repaginate
      %label{ :for => 'repaginate' }
        = t 'formats.attribute_name:', :attribute => t('labels.per_page')
      %strong= per_page
      \->
      %input#repaginate{ :type         => :number,
                         :name         => params_key_from_hash_key[:per_page],
                         :value        => per_page,
                         :min          => 1,
                         :step         => 1,
                         :autocomplete => :off,
                         :size         => 3 }
      %button._get_.present{ :type  => :submit }
        = t 'buttons.repaginate'
