-# Locals:
-#   column_type
-#   value_or_values

- case column_type
- when :boolean
  = text_from_boolean(value_or_values)
- when :integer
  - if value_or_values.key?(:min)
    = value_or_values[:min]
  \..
  - if value_or_values.key?(:max)
    = value_or_values[:max]
- when :date
  - if value_or_values.key?(:from)
    = t 'date.from'
    = value_or_values[:from]
  - if value_or_values.key?(:until)
    = t 'date.until'
    = value_or_values[:until]
- else
  = value_or_values
