= haml :'layout_partials/_language_selector'
= haml :'layout_partials/_banner'
= haml :'layout_partials/_flash'
= haml :'layout_partials/_main_menu'
- if organiser_logged_in?
  = haml :'layout_partials/_main_menu_for_organisers'
