%section
  %h3
    %samp
      = @participant.approved? ? '(✓)' : '(—)'
    &= @participant.full_name_with_affiliation

  %hr/

  = haml :'pages/org/participants/_participations_details'

  %hr/

  %section
    %h4
      = header_from_attribute_name(Participant, :accommodations)

    = haml :'pages/org/accommodations/_update_all_form'
