%nav.main_menu
  %a.button#log_out_button{ :href => fixed_url("/#{ @locale }/logout"),
                            :role => 'button' }
    = t 'buttons.log_out'
  %ul.menu#main_menu_for_organisers{:role => 'tablist'}
    - ORGANISER_CONNEXION_PAGES.each do |p|
      - page_title = t(:title, :scope => page_i18n_scope(p))
      - if p == @page
        %li.current{:role => 'tab'}>
          %span
            = page_title
      - else
        %li{:role => 'tab'}>
          %a{:href => fixed_url("/#{ @locale }/#{ p }")}
            = page_title
