%form{:action => fixed_url("/#{ @locale }/registration"), :'accept-charset' => 'UTF-8', :method => 'get'}
  %dl.fields
    .field
      %dt.label
        = t 'pages.registration.form.field_labels.participations.which_weeks'
      %dd.input
        %ol
          - [:intro_conf, :g_e_s_t_a_conf, :llagone_conf, :co_m_b_conf].each do |conf_class_method|
            - conf = Conference.public_send(conf_class_method)
            %li
              %input{ :id       => "conference_#{ conf.id }",
                      :name     => 'conference_ids[]',
                      :type     => 'checkbox',
                      :value    => conf.id,
                      :checked  => conf.id == Conference.co_m_b_conf.id }
              %label{:for => "conference_#{ conf.id }"}<
                = conf.title_with_details(@locale)

  .actions
    %button.create{:type => 'submit', :name => 'button', :value => 'create'}
      = t 'buttons.continue'
