%article
  -# XXX: had to add `force_encoding` as a workaround for a 'tilt' bug,
    see
      http://stackoverflow.com/questions/10341550/incompatible-character-encoding-in-simple-sinatra-app
    and
      https://github.com/rtomayko/tilt/issues/75
  = markdown(:"text/#{ @locale }/accommodation").force_encoding('utf-8')

  %dl
    - @hotels.each do |hotel|
      %dt
        - if web_site = hotel.web_site
          %a{ :href => web_site }<>
            &= hotel.name
        - else
          &= hotel.name
      %dd
        - case address = hotel.address
        - when nil
          %samp<?
        - when ''
          %samp<∅
        - when /n\/a/i
          %samp<N/A
        - else
          %a{ :href => map_url_for_address(hotel.address) }<>
            &= hotel.address
        %br
        &= hotel.phone
