-# Parameters:
-#   talk

%strong
  &= talk.title_with_speaker
%i= "(#{ talk.translated_type_name })"
= t 'questions.show_details?'
%input.style_control{:type => :checkbox}
.hide_if_checkbox_unchecked
  %dl
    - @attributes.each do |attr|
      = attribute_in_description(talk, attr)

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url("/#{ @locale }/#{ @page }/edit/#{ talk.id }\#talk_#{ talk.id }"),
                    :role => 'button' }
      = t 'db_actions.update'
    %a.button.delete{ :href => fixed_url("/#{ @locale }/#{ @page }/delete/#{ talk.id }"),
                      :role => 'button' }
      = t 'db_actions.delete'
