-# Locals
-#   participtaion

- co_m_b_conf_id = Conference.co_m_b_conf.id

%fieldset
  %legend
    = label_from_attribute_name(Participation, :talk_proposal)

    %input{ :type  => :hidden,
            :name  => "talk_proposals[#{ co_m_b_conf_id }][_participation_key]",
            :value => co_m_b_conf_id }
  %dl.fields
    - if talk_proposal = participation.talk_proposal
      - title = talk_proposal.title
      - abstract = talk_proposal.abstract
    - else
      - abstract = title = nil
    .field
      %dt.label
        %label{ :for => "talk_proposals_#{ co_m_b_conf_id }_title" }<
          = label_from_attribute_name(TalkProposal, :title)
      %dd.input
        %input.long_string{ :id    => "talk_proposals_#{ co_m_b_conf_id }_title",
                            :name  => "talk_proposals[#{ co_m_b_conf_id }][title]",
                            :type  => :text,
                            :value => title }
    .field
      %dt.label
        %label{ :for => "talk_proposals_#{ co_m_b_conf_id }_abstract" }<
          = label_from_attribute_name(TalkProposal, :abstract)
      %dd.input
        %textarea{ :id   => "talk_proposals_#{ co_m_b_conf_id }_abstract",
                   :name => "talk_proposals[#{ co_m_b_conf_id }][abstract]" }<
          = preserve do
            &= abstract
