-# Locals
-#   participtaion

- conf_id = participation.conference.id
- element_id_prefix = "talk_proposals_#{ conf_id }_"
- input_name_prefix = "talk_proposals[#{ conf_id }]"

- talk_proposal = participation.talk_proposal || participation.build_talk_proposal

%fieldset
  %legend
    = label_from_attribute_name(Participation, :talk_proposal)

    %input{ :type  => :hidden,
            :name  => input_name_prefix + "[_participation_key]",
            :value => conf_id }

    %input{ :type  => :hidden,
            :name  => input_name_prefix + "[id]",
            :value => talk_proposal.id }
  %dl.fields
    .field
      %dt.label
        %label{ :for => element_id_prefix + "title" }<
          = label_from_attribute_name(TalkProposal, :title)
      %dd.input
        %input.long_string{ :id    => element_id_prefix + "title",
                            :name  => input_name_prefix + "[title]",
                            :type  => :text,
                            :value => talk_proposal.title }
    .field
      %dt.label
        %label{ :for => element_id_prefix + "abstract" }<
          = label_from_attribute_name(TalkProposal, :abstract)
      %dd.input
        %textarea{ :id   => element_id_prefix + "abstract",
                   :name => input_name_prefix + "[abstract]" }<
          = preserve do
            &= talk_proposal.abstract
