-# Locals
-#   participtaion

%fieldset
  %legend
    = label_from_attribute_name(Participation, :talk_proposal)

  %dl.fields
    - if talk_proposal = participation.talk_proposal
      - title = talk_proposal.title
      - abstract = talk_proposal.abstract
    - else
      - abstract = title = nil
    .field
      %dt.label
        %label{ :for => "participations_#{ participation.id }_talk_proposal_attributes_title" }<
          = label_from_attribute_name(TalkProposal, :title)
      %dd.input
        %input.long_string{ :id    => "participations_#{ participation.id }_talk_proposal_attributes_title",
                            :name  => "participations[#{ participation.id }][talk_proposal_attributes][title]",
                            :type  => :text,
                            :value => title }
    .field
      %dt.label
        %label{ :for => "participations_#{ participation.id }_talk_proposal_attributes_abstract" }<
          = label_from_attribute_name(TalkProposal, :abstract)
      %dd.input
        %textarea{ :id   => "participations_#{ participation.id }_talk_proposal_attributes_abstract",
                   :name => "participations[#{ participation.id }][talk_proposal_attributes][abstract]" }<
          = preserve do
            &= abstract
