%form{ :'accept-charset' => 'UTF-8',
       :action           => fixed_url_with_locale("/org/participants/"),
       :method           => :post }

  = haml :'shared_partials/_jquery_ui_for_forms'

  - if @participant.errors.any?
    = haml :'shared_partials/_form_errors',
           :locals => { :object => @participant }

  %dl.fields
    = haml :'pages/org/participants/_common_fields'

  = haml :'pages/org/participants/_participations_fields'

  = haml :'pages/org/participants/_co_m_b_talk_proposal_fields'

  .actions
    %button.update{ :type => :submit, :name => 'button', :value => 'create' }<
      = t 'actions.submit'
    %a.button.cancel{ :href => fixed_url_with_locale("/org/participants"),
                      :role => :button }<
      = t 'actions.cancel'
