%fieldset
  %legend
    = label_from_attribute_name(Participant, :participations)
  %ol.fields
    - @conferences.each do |conf|

      - conf_id = conf.id
      - element_id_prefix = "participations_#{ conf_id }_"
      - input_name_prefix = "participations[#{ conf_id }]"
      - participation   = @participant.participations.find { |p| p.conference_id == conf_id }
      - participation ||= Participation.new(:participant   => @participant,
                                            :conference_id => conf_id)

      %li
        %input{ :type  => :hidden,
                :name  => input_name_prefix + "[conference_id]",
                :value => conf_id }
        %input{ :type  => :hidden,
                :name  => input_name_prefix + "[id]",
                :value => participation.id }
        -# Hidden field to pass a value when the checkbox is not checked
        %input{ :type  => :hidden,
                :name  => input_name_prefix + "[_destroy]",
                :value => 1 }
        %input{ :id      => element_id_prefix + "_destroy",
                :type    => :checkbox,
                :name    => input_name_prefix + "[_destroy]",
                :value   => 0,
                :checked => @participant.participations.include?(participation) }
        %label{ :for => element_id_prefix + "_destroy" }<
          = conf.title_with_details(@locale)
        %dl.fields
          - [:arrival_date, :departure_date].each do |attr|
            .field
              %dt.label
                %label{ :for => element_id_prefix + "#{ attr }" }<
                  = label_from_attribute_name(Participation, attr)
              %dd.input
                %input{ :id    => element_id_prefix + "#{ attr }",
                        :name  => input_name_prefix + "[#{ attr }]",
                        :type  => :date,
                        :value => participation.public_send(attr) }
          .field
            %dt.label
              %label{ :for => element_id_prefix + "committee_comments" }<
                = label_from_attribute_name(Participation, :committee_comments)
            %dd.input
              %textarea{ :id   => element_id_prefix + "committee_comments",
                         :name => input_name_prefix + "[committee_comments]" }<
                = preserve do
                  &= participation.committee_comments

        - if conf == Conference.co_m_b_conf
          = haml :'pages/org/participants/_co_m_b_talk_proposal_fields',
                 :locals => { :participation => participation }
