-# Parameters:
-#   participant

= participant.approved? ? '✓' : '-'

%a{ :href => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }participants/#{ participant.id }") }
  %strong
    &= participant.full_name_with_affiliation_and_position

- if participant.approved?
  (#{ Participant.human_attribute_name(:approved) })

%br
= t 'questions.show_details?'
%input.style_control{:type => :checkbox}
.hide_if_checkbox_unchecked

  = haml :'pages/org/participants/_participations_details',
         :locals => { :participant => participant }

  %br
  %dl
    - @attributes.each do |attr|
      = attribute_in_description(participant, attr)

  - if talk_proposal = participant.co_m_b_talk_proposal
    %br

    = haml :'pages/org/participants/_co_m_b_talk_proposal_details',
           :locals => { :participant   => participant,
                        :talk_proposal => talk_proposal }

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }participants/#{ participant.id }/edit"),
                    :role => 'button' }
      = t 'actions.update'
    %a.button.delete{ :href => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }participants/#{ participant.id }/delete"),
                      :role => 'button' }
      = t 'actions.delete'
