-# Parameters:
-#   participant

.associations
  %table
    - participation_attr_iterator = [ :arrival_date,
                                      :departure_date,
                                      :committee_comments ].each
    %caption
      = label_from_attribute_name(Participant, :participations)
    %thead
      %td
      - participation_attr_iterator.each do |attr|
        %th
          = label_from_attribute_name(Participation, attr)
    %tbody
      - participant.participations.each do |participation|
        %tr
          %th{:scope => :row}
            = participation.conference.identifier
          - participation_attr_iterator.each do |attr|
            %td
              - if value = participation.public_send(attr)
                %span.attribute.value
                  = value

  %form.inline{ :action => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants/#{ participant.id }"),
                :method => :post }
    %input{ :type => :hidden, :name => :_method, :value => :put }
    - if participant.approved?
      %button.on.toggle_off.deauthorize{ :type  => :submit,
                                         :name  => 'button',
                                         :value => 'disapprove' }
        = t 'actions.do_not_accept'
    - else
      %button.off.toggle_on.authorize{ :type  => :submit,
                                       :name  => 'button',
                                       :value => 'approve' }
        = t 'actions.accept'
