%fieldset
  %legend
    = label_from_attribute_name(Participant, :participations)
  %ol.fields
    - @participations.each do |participation|
      - conf = participation.conference
      %li
        %input{ :type  => :hidden,
                :name  => "participations[#{ conf.id }][conference_id]",
                :value => conf.id }
        %input{ :type  => :hidden,
                :name  => "participations[#{ conf.id }][id]",
                :value => participation.id }
        -# Hidden field to pass a value when the checkbox is not checked
        %input{ :type  => :hidden,
                :name  => "participations[#{ conf.id }][_destroy]",
                :value => 1 }
        %input{ :id      => "participations_#{ conf.id }__destroy",
                :type    => :checkbox,
                :name    => "participations[#{ conf.id }][_destroy]",
                :value   => 0,
                :checked => @participant.participations.include?(participation) }
        %label{ :for => "participations_#{ conf.id }__destroy" }<
          = conf.title_with_details(@locale)
        %dl.fields
          - [:arrival_date, :departure_date].each do |attr|
            .field
              %dt.label
                %label{ :for => "participations_#{ conf.id }_#{ attr }" }<
                  = label_from_attribute_name(Participation, attr)
              %dd.input
                %input{ :id    => "participations_#{ conf.id }_#{ attr }",
                        :name  => "participations[#{ conf.id }][#{ attr }]",
                        :type  => :date,
                        :value => participation.public_send(attr) }
          .field
            %dt.label
              %label{ :for => "participations_#{ conf.id }_committee_comments" }<
                = label_from_attribute_name(Participation, :committee_comments)
            %dd.input
              %textarea{ :id   => "participations_#{ conf.id }_committee_comments",
                         :name => "participations[#{ conf.id }][committee_comments]" }<
                = preserve do
                  &= participation.committee_comments

        - if conf == Conference.co_m_b_conf
          = haml :'pages/org/participants/_co_m_b_talk_proposal_fields',
                 :locals => { :participation => participation }
