%form{ :'accept-charset' => 'UTF-8',
       :action           => fixed_url_with_locale("/org/participants/#{ @participant.id }"),
       :method           => :post }
  %input{ :type => :hidden, :name => :_method, :value => :put }

  = haml :'shared_partials/_jquery_ui_for_forms'

  - if @participant.errors.any?
    = haml :'shared_partials/_form_errors',
           :locals => { :object => @participant }

  %dl.fields
    = haml :'pages/org/participants/_common_fields'

  - if @association_names.include? :participations
    = haml :'pages/org/participants/_participations_fields'

  .actions
    %button.update{ :type => :submit, :name => 'button', :value => 'update' }<
      = t 'actions.submit'
    %a.button.cancel{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }"),
                      :role => :button }<
      = t 'actions.cancel'
