%h4
  - participant_name = capture_haml do
    %q<>
      %strong<>
        &= @participant.full_name_with_affiliation_and_position
  = t 'resources.actions.delete.confirmation_question',
      :resource_name => Participant.model_name.human,
      :item_name     => participant_name
%form.inline{ :action => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants/#{ @participant.id }"), :method => :post }
  %input{ :type => :hidden, :name => :_method, :value => :delete }
  %button.destroy{ :type => :submit, :name => 'button', :value => 'destroy' }
    = t 'action_confirmation.answers.yes-delete'
%a.button.cancel{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants/#{ @participant.id }"),
                  :role => 'button'}
  = t 'action_confirmation.answers.no-cancel'
