- if @filtering_by
  = filtering_form @filtering_by, @filtering_values,
                   :params_key_prefix => 'filter',
                   :action_url        => fixed_url_with_locale("/#{ @page }"),
                   :hidden_parameters => @view_parameters.key?(:per_page) ? { 'view' => { :per_page => @view_parameters[:per_page] } } : {}

  %strong #{ @filtered_participants_count } / #{ Participant.count }

- if @view_parameters
  = paginating_form @view_parameters,
                    :params_key_prefix => 'view',
                    :action_url        => fixed_url_with_locale("/#{ @page }"),
                    :hidden_parameters => @filtering_values ? { 'filter' => @filtering_values } : {}

.technical
  %pre.technical
    SQL:
  %code.technical
    = @participants.to_sql

%ol
  - @participants.each do |participant|
    %li{ :id => "participant_#{ participant.id }" }

      %samp
        %strong
          = participant.approved? ? '✓' : '—'

      %a{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants/#{ participant.id }") }
        %strong
          &= participant.full_name_with_affiliation_and_position

      %br
      - if participant.approved?
        (✓ #{ Participant.human_attribute_name(:approved) })

      = t 'questions.show_details?'
      %input.style_control{ :type => 'checkbox' }
      .hide_if_checkbox_unchecked

        = haml :'pages/org/participants/_participant_details',
               :locals => { :participant => participant }

- if @page == :"#{ ORG_PAGE_PREFIX }participants"
  - download_url = fixed_url("/download/participants.csv")
  - if @filtering_values
    - download_url << '?' << url_query_from_nested_hash('filter' => @filtering_values)

  %a.button.download{ :href => download_url,
                      :role => 'button' }
    = "#{ t('actions.download') } (CSV)"

  - if main_organiser_logged_in?
    %a.button.new{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants/new"),
                   :role => 'button' }
      = t 'actions.add'
