- if @filtering_parameters
  = filtering_form Participant, @filtering_parameters, @filtering_values,
                   :params_key_prefix => 'filter',
                   :action_url        => fixed_url("/#{ @locale }/#{ @page }"),
                   :hidden_parameters => @view_parameters[:per_page] ? { 'view' => { :per_page => @view_parameters[:per_page] } } : {}

  %strong #{ @filtered_participants_count } / #{ Participant.count }

- if @view_parameters
  = paginating_form @view_parameters,
                    :params_key_prefix => 'view',
                    :action_url        => fixed_url("/#{ @locale }/#{ @page }"),
                    :hidden_parameters => @filtering_values ? { 'filter' => @filtering_values } : {}

.technical
  %pre.technical
    SQL:
  %code.technical
    = @participants.to_sql

%ol
  - @participants.each do |participant|
    %li{ :id => "participant_#{ participant.id }" }
      = haml :'pages/org/participants/_participant_details',
             :locals => { :participant => participant }
