%section
  %h3
    %samp
      = @participant.approved? ? '(✓)' : '(—)'
    &= @participant.full_name_with_affiliation

  %hr/

  = haml :'pages/org/participants/_participations_details'

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/edit?only[associations]=all"),
                    :role => 'button' }<
      = t 'actions.update'

  - if talk_proposal = @participant.co_m_b_talk_proposal
    %br/
    %hr/

    = haml :'pages/org/participants/_co_m_b_talk_proposal_details',
           :locals => { :talk_proposal => talk_proposal }

    - if main_organiser_logged_in?
      %a.button.edit{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/edit?only[associations][]=talk_proposals"),
                      :role => 'button' }<
        = t 'actions.update'

  %br/
  %hr/

  = haml :'pages/org/participants/_accommodations_details'

  - if main_organiser_logged_in?
    - unless @participant.accommodations.empty?
      %a.button.edit{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/accommodations/edit"),
                      :role => 'button' }<
        = t 'actions.update'
    %a.button.new{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/accommodations/new"),
                   :role => 'button' }<
      = t 'actions.add'

  %br/
  %hr/

  = haml :'pages/org/participants/_personal_details',
         :locals => { :participant => @participant }

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/edit?only[attributes]=all"),
                    :role => 'button' }<
      = t 'actions.update'

  %br/
  %hr/

  - if main_organiser_logged_in?
    %a.button.delete{ :href => fixed_url_with_locale("/org/participants/#{ @participant.id }/delete"),
                      :role => 'button' }<
      = t 'actions.delete'
