%section
  %h4
    %a{ :href => fixed_url_with_locale("/#{ ORG_PAGE_PREFIX }participants\#participant_#{ @participant.id }") }
      %strong
        &= @participant.full_name_with_affiliation
    - if @participant.approved?
      ✓ #{ Participant.human_attribute_name(:approved) }

  = haml :'pages/org/participants/_participant_details'
