%section
  %h3<>
    %a{ :href   => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }articles/talk_proposals_for_scientific_committee"),
        :target => '_blank' }<>
      = t("pages.org.utilities.tabs.#{ @utility_tab }.title")
  %hr

  = haml :"/pages/#{ ORG_PAGE_PREFIX }articles/talk_proposals_for_scientific_committee.html"
