%dl
  %dt
    = t 'pages.registration_confirmation.fields.conferences'
  %dd
    %ol
      - @participant.participations.each do |participation|
        %li
          &= participation.conference.title_with_details
          %dl
            - [:arrival_date, :departure_date].each do |attr|
              %dt
                = label_from_attribute_name(Participation, attr)
              %dd
                &= participation.public_send(attr)
  - PARTICIPANT_ATTRIBUTES[:registration].each do |attr|
    %dt
      = label_from_attribute_name(Participant, attr)
    %dd
      - if (v = @participant.public_send(attr)).in?(true, false)
        = text_from_boolean(v)
      - else
        &= v

  - if participation = @participant.co_m_b_participation
    %dt
      = t 'pages.registration_confirmation.fields.co_m_b_talk_proposed?'
    %dd
      - if talk_proposal = participation.talk_proposal
        %strong
          ✓
          = t 'yes'
        %dl
          - [:title, :abstract].each do |attr|
            %dt
              = label_from_attribute_name(TalkProposal, attr)
            %dd
              &= talk_proposal.public_send(attr)
      - else
        ∅
        = t 'no'
