%form{:'accept-charset' => 'UTF-8', :method => 'post'}
  -# JavaScript and CSS for JQuery UI date picker (http://jqueryui.com/)
  = haml :'_jquery_ui_for_forms'

  - if @participant.errors.any?
    #form_error_explanation
      %h2
        - if @participant.errors.count == 1
          = t('activerecord.errors.template.header.one',
              :model => Participant.model_name.human)
        - else
          = t('activerecord.errors.template.header.other',
              :count => @participant.errors.count,
              :model => Participant.model_name.human)

      %ul
        - @participant.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %dl.fields
      .field.required
        %dt.label
          = t 'pages.registration.form.field_labels.participations.which_weeks'
        %dd.input
          %ol
            - @conferences.each do |conf|
              %input{:type => :hidden, :name => 'conference_ids[]', :value => conf.id}
              %li
                %input{:id      => "participant_conference_#{ conf.id }_participation_conference_id",
                       :name    => 'participant[participations_attributes][][conference_id]',
                       :type    => :checkbox,
                       :value   => conf.id,
                       :checked => @participant.conferences.include?(conf)}
                %span
                  = conf.title(@locale)
                %span
                  = "(#{ conf.location }, #{ l(conf.start_date) } -- #{ l(conf.end_date) })"
              %dl.fields
                - [:arrival_date, :departure_date].each do |attr|
                  .field
                    %dt.label
                      %label{:for => "participant_conference_#{ conf.id }_participation_#{ attr }"}
                        = @field_labels[attr]
                    %dd.input
                      %input{:id    => "participant_conference_#{ conf.id }_participation_#{ attr }",
                             :name  => "participant[participations_attributes][][#{ attr }]",
                             :type  => 'date',
                             :value => @participant.public_send(attr)}

  %dl.fields
    - [:first_name, :last_name].each do |attr|
      .field.required
        %dt.label
          %label{:for => "participant_#{ attr }"}
            = @field_labels[attr] + '*'
        %dd.input
          %input{:id       => "participant_#{ attr }",
                 :name     => "participant[#{ attr }]",
                 :required => 'required',
                 :type     => 'text',
                 :value    => @participant.public_send(attr)}

    .field.required
      %dt.label
        %label{:for => 'participant_email'}
          = @field_labels[:email] + '*'
      %dd.input
        %input{:id       => 'participant_email',
               :name     => 'participant[email]',
               :required => 'required',
               :type     => 'email',
               :value    => @participant.email}

    .field
      %dt.label
        %label{:for => 'participant_affiliation'}
          = t 'pages.registration.form.field_labels.affiliation'
      %dd.input
        %input{:id    => 'participant_affiliation',
               :name  => 'participant[affiliation]',
               :type  => 'text',
               :value => @participant.affiliation}

    .field
      %dt.label
        %label{:for => 'participant_academic_position'}
          = t 'pages.registration.form.field_labels.academic_position'
      %dd.input
        %select{:id   => 'participant_academic_position',
               :name  => 'participant[academic_position]',
               :value => @participant.academic_position}
          %option
          - t('pages.registration.form.select_options.academic_positions').each do |p|
            - if p == @participant.academic_position
              %option{:selected => 'selected'}= p
            - else
              %option= p

    - [:country, :city, :post_code, :street_address, :phone].each do |attr|
      .field
        %dt.label
          %label{:for => "participant_#{ attr }"}
            = @field_labels[attr]
        %dd.input
          %input{:id    => "participant_#{ attr }",
                 :name  => "participant[#{ attr }]",
                 :type  => 'text',
                 :value => @participant.public_send(attr)}

    - [:i_m_t_member, :g_d_r_member, :invitation_needed, :visa_needed].each do |attr|
      .field
        %dt.label
          %label{:for => "participant_#{ attr }"}
            = @field_labels[attr]
        %dd.input
          - name = "participant[#{ attr }]"
          -# Hidden field to pass a value when the checkbox is not checked
          %input{:name  => name,
                 :type  => 'hidden',
                 :value => 0}
          %input{:id      => "participant_#{ attr }",
                 :name    => name,
                 :type    => 'checkbox',
                 :value   => 1,
                 :checked => @participant.public_send(attr)}
          %span= t 'yes'

    - [:funding_requests, :special_requests].each do |attr|
      .field
        %dt.label
          %label{:for => "participant_#{ attr }"}
            = @field_labels[attr]
        %dd.input
          %textarea{:id   => "participant_#{ attr }",
                    :name => "participant[#{ attr }]"}
            &= @participant.public_send(attr)

  - if @conferences.map(&:id).include? Conference.co_m_b_conf.id
    %fieldset
      %legend
        = t 'pages.registration.form.field_labels.co_m_b_talk_proposal.caption',
            :co_m_b_conf_title => Conference.co_m_b_conf.title(@locale)

      = haml :'pages/_co_m_b_talk_proposal_fields'

  .actions
    %button.create{:type => 'submit', :name => 'button', :value => 'create'}
      = t 'pages.registration.form.buttons.submit'
