-# Parameters:
-#   talk

%strong
  &= talk.title_with_speaker
%i= "(#{ talk.translated_type_name })"
= t 'questions.show_details?'
%input.style_control{ :type => 'checkbox' }
.hide_if_checkbox_unchecked
  %dl
    - @attributes.each do |attr|
      = attribute_in_description(talk, attr)

  - if main_organiser_logged_in?
    %a.button.edit{ :href => fixed_url("/#{ @locale }/#{ @page }/#{ talk.id }/edit\#talk_#{ talk.id }"),
                    :role => 'button' }
      = t 'actions.update'
    %a.button.delete{ :href => fixed_url("/#{ @locale }/#{ @page }/#{ talk.id }/delete"),
                      :role => 'button' }
      = t 'actions.delete'
