%h4
  - talk_title = capture_haml do
    %q<>
      %strong<>
        &= @talk.title_with_speaker
  = t 'resources.actions.delete.confirmation_question',
      :resource_name => Talk.model_name.human,
      :item_name     => talk_title
%form.inline{ :action => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }talks/#{ @talk.id }"), :method => :post }
  %input{ :type => :hidden, :name => :_method, :value => :delete }
  %button.destroy{ :type => :submit, :name => 'button', :value => 'destroy' }
    = t 'buttons.yes-delete'
%a.button.cancel{ :href => fixed_url("/#{ @locale }/#{ ORG_PAGE_PREFIX }talks/#{ @talk.id }"),
                  :role => 'button'}
  = t 'buttons.no-cancel'
