- hidden_parameters = { 'view' => @view_parameters.except(:page) }
%form{ :id     => 'clear_filter_form',
       :action => '#filter_form' }
  = hidden_fields_from_nested_hash hidden_parameters

%form{ :id     => 'filter_form',
       :action => '#filter_form' }
  = hidden_fields_from_nested_hash hidden_parameters

  = smart_filtering_fields [[Talk, :type]],
                           @filtering_values,
                           nil,
                           :params_key_prefix => 'filter'

  .actions<
    %button._get_{ :type  => :submit }<
      = t 'actions.filter'

    %button._get_{ :type  => :submit, :form  => 'clear_filter_form' }<
      = t 'actions.clear'

%strong<
  - if @filtered_talks_count
    #{ @filtered_talks_count } / #{ Talk.count }
  - else
    [ #{ Talk.count } ]

- hidden_parameters = { 'filter'        => @filtering_values,
                        'custom_filter' => @custom_filtering_parameters,
                        'view'          => @view_parameters.except(:show_as) }
= presentation_choice_form ['table', 'abstract_list'],
                           @view_parameters[:show_as] || 'table',
                           :params_key_prefix => 'view',
                           :hidden_parameters => hidden_parameters

.technical
  %pre.technical
    SQL:
  %code.technical
    = @talks.to_sql

- case @view_parameters[:show_as]
- when 'abstract_list'

  = haml :'/pages/org/talks/abstract_list'

- else

  = haml :'/pages/org/talks/table'

- if main_organiser_logged_in?
  %a.button.new{ :href => fixed_url_with_locale('/org/talks/new'),
                 :role => 'button' }<
    = t 'actions.add'
