<!doctype html>
%html.no-js{ :lang => @locale }
  %head
    %meta{ :charset => 'utf-8' }/
    %title= @title
    %meta{ :content      => 'IE=edge,chrome=1',
           :'http-equiv' => 'X-UA-Compatible' }/
    %meta{ :content => 'width=device-width', :name => 'viewport' }/
    -# %link{ :href  => fixed_url('/stylesheets/html5reset.css'),
    -#        :rel   => :stylesheet,
    -#        :type  => 'text/css' }/
    %link{ :type  => 'text/css',
           :href  => fixed_url('/css/blueprint/screen.css'),
           :media => 'screen, projection',
           :rel   => :stylesheet }/
    %link{ :type  => 'text/css',
           :href  => fixed_url('/css/blueprint/print.css'),
           :media => 'print',
           :rel   => :stylesheet }/
    /[if IE]
      %link{ :type  => 'text/css',
             :rel   => :stylesheet,
             :href  => fixed_url('/stylesheets/blueprint/ie.css'),
             :media => 'screen, projection' }/
    %link{ :type => 'text/css',
           :href => fixed_url('/stylesheets/application.css'),
           :rel  => :stylesheet }/
    %link{ :rel  => 'shortcut icon', :href => fixed_url('/favicon.ico') }/
  %body
    %header

      -# = haml :'layout_partials/_header'

    = haml :'layout_partials/_flash'

    %div.container{ :role => :main }

      = yield

    %footer

      -# = haml :'layout_partials/_footer'

    - if self.class.development? && ENV['USER'] == 'alexey'
      .debug
        %pre#debug_params.debug
          = preserve do
            %strong= 'params:'
            = params.to_yaml
        -# This raises an error after registration, maybe there is a bug in a recent version of Sinatra
        -# #debug_session.debug
        -#   %pre#debug_session.debug
        -#     = preserve do
        -#       %strong= 'session:'
        -#       = session.to_yaml
        %pre.debug
          = preserve do
            %strong= 'request.path:'
            = request.path.inspect
        %pre.debug
          = preserve do
            %strong= 'environment:'
            = settings.environment.inspect
        %pre.debug
          = preserve do
            %strong= 'defined?(PhusionPassenger):'
            = defined?(PhusionPassenger)
        %pre.debug
          = preserve do
            %strong= 'defined?(Thin):'
            = defined?(Thin)
